/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 10px 10px;
  padding-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 960px;
  padding: 10px 10px;
  padding-top: 20px;
  height: 90%;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: auto;
}

/* set content of bottom card to bottom of parent card*/
.bottom-card {
}

.flex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.right-nav {
  display: flex;
}

.formnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: -4px;
}
.map {
  height: 350px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.flat-show-card {
  background: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
  border-radius: 3px;
}

.booking {
  background: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
  border-radius: 3px;
}

.row-show {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

/* set text in .price to vertically middle  */

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
}

.left-side {
  padding-right: 10px;
}
.btn-size {
  width: 30%;
}

.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: -4px;
}

.map-image {
  height: 350px;
  width: 100%;
  background-position: center;
  background-size: auto;
}

.margin-top-negative {
  margin-top: -65px;
}

.date {
  width: 100%;
  align-self: center;
}

.label {
  width: 20%;
}

.navbar {
  padding-bottom: 0px;
  padding-top: 0px;
}

.container-form {
  margin: 0 auto;
  width: 60%;
  max-width: 960px;
  padding: 10px 10px;
  padding-top: 20px;
}
